body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 20px;
    padding: 50px 50px;
}



.container{
    margin-bottom: 50px;
    
}

.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    border: none;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1{
    background-color: #FF9C35;
}

.cat2{
    background-color: #FF589B;
}

.cat3{
    background-color: #4289FF;
}

.cat1, .cat2, .cat3{ 
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.shoes h5,p{
    text-align: center;

}

.shoes button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    position: relative;
    left: 120px;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.bags button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    position: relative;
    left: 120px;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

    }

.bags h5,p{
    text-align: center;

}